<app-tools (OnClickNew)="changeMode($event)" (OnClickSave)="onSubmit()" [ViewMode]="modeType"
  (OnClickBack)="changeMode($event)">
</app-tools>

<ng-container *ngIf="isViewMode || isDeleteMode">
  <app-table [path]="fullPath" (OnEdit)="getForm($event);" (OnDelete)="delForm($event)" [headers]="headers"
    [btnDelete]="true" [btnEdit]="true" [refresh]="auto">
  </app-table>
</ng-container>

<ng-container *ngIf="isCreateMode || isEditMode">
  <div class="card-body">
    <form [formGroup]="form">
      <div class="row gy-4">
        <div class="col-xxl-3 col-md-6">
          <div>
            <app-input inputClass="form-control" formControlName="nombre" label="NOMBRE" type="text" [formValid]="ok">
            </app-input>
          </div>
        </div>
        <div class="col-xxl-6 col-md-6">
          <div>
            <app-input inputClass="form-control" formControlName="descripcion" label="DESCRIPCION" type="text"
              [formValid]="ok"></app-input>
          </div>
        </div>
        <div class="col-xxl-3 col-md-6">
          <div class="d-flex flex-column">
            <label for="" class="block text-capitalize">HABILITAR</label>
            <p-inputSwitch formControlName="habilitado"></p-inputSwitch>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-container>