<div *ngIf="(inputType==='text' || inputType==='date' || inputType==='time')" class="field d-flex flex-column">
  <label *ngIf="!(label===false || label==='false')" for="miImput" class="block text-capitalize {{labelClass}}">
    {{label??'label text'}}
    <i *ngIf="(initRequired || required)" class="text-danger">*</i>
  </label>
  <!-- input text -->
  <input #input [id]="id" [(ngModel)]="value" type="{{type==='text'? type: (type==='date'?'date':'time')}}"
    [placeholder]="(placeholder ?? '')" (input)="!nsNumber ? onChangeValue($any($event).target) : onInpt($event)"
    [disabled]="locked ? locked: disabled"
    class="{{inputClass}} {{((hasError && (currentControl?.touched || currentControl?.dirty)) || borderRequired)||(borderRequired2)?'border-danger':''}}"
    [style]="inputStyle" [required]="required" (focus)="getReqError();OnFocus.emit($event);"
    (focusout)="OnFocusOut.emit($event);" (blur)="nsBlur.emit($event);onTouched($event)"
    (keydown.arrowdown)="keyArrowDown.emit()" (keydown)="OnKeyDown.emit($event)" (keyup)="OnKeyUp.emit($event)"
    (keydown.arrowup)="keyArrowUp.emit()" (keydown.tab)="keyTab.emit()" (keydown.enter)="keyEnter.emit()" />
  <div class="w-100" style="height: 15px;">
    <small class="text-danger fw-bold"
      *ngIf="(hasError && (currentControl?.touched || currentControl?.dirty)) || required ||required2">
      {{((hasError && (currentControl?.touched || currentControl?.dirty)) ||
      borderRequired)||(borderRequired2)?messageError:''}}
    </small>
  </div>
  <br>

</div>
<!-- input number -->
<div *ngIf="(inputType==='number')" class="field d-flex flex-column">
  <label *ngIf="!(label===false || label==='false')" for="miImput" class="block text-capitalize {{labelClass}}">
    {{label??'label text'}}
    <i *ngIf="(initRequired || required)" class="text-danger">*</i>
  </label>

  <p-inputNumber #input locale="en-US" [(ngModel)]="value" [min]="(min ?? -99999999)" [max]="(max ?? 99999999)"
    mode="decimal" [placeholder]="(placeholder ?? '')" [minFractionDigits]="(minFractionDigits??0)" [style]="style"
    styleClass="w-100 {{class}} " [disabled]="(disabled)" [readonly]="(readonly)" [required]="required"
    inputStyleClass="style-disable {{inputClass}} {{inputStyleClass}} {{((hasError && (currentControl?.touched || currentControl?.dirty)) || borderRequired)||(borderRequired2)?'border-danger':''}}"
    (onInput)="!nsNumber ? onChangeValueIN($event) : onInpt($event)" (attr.onFocusOut)="OnFocusOut.emit($event)"
    (onFocus)="getReqError();OnFocus.emit($event);" (onBlur)="nsBlur.emit($event);onTouched($event)"
    (keydown.arrowdown)="keyArrowDown.emit()" (keydown.arrowup)="keyArrowUp.emit()" (keydown.tab)="keyTab.emit()"
    (keydown.enter)="keyEnter.emit()">
  </p-inputNumber>
  <div class="w-100" style="height: 15px;">
    <small class="text-danger fw-bold"
      *ngIf="(hasError && (currentControl?.touched || currentControl?.dirty)) || required ||required2">
      <!-- {{messageError}} -->
      {{((hasError && (currentControl?.touched || currentControl?.dirty)) ||
      borderRequired)||(borderRequired2)?messageError:''}}
    </small>
  </div>
</div>

<div *ngIf="(inputType==='textarea')" class="field d-flex flex-column">
  <label *ngIf="!(label===false || label==='false')" for="miImput" class="block text-capitalize {{labelClass}}">
    {{label??'label text'}}
    <i *ngIf="(initRequired || required)" class="text-danger">*</i>
  </label>
  <!-- input text -->
  <textarea #input [id]="id" [(ngModel)]="value" [placeholder]="(placeholder ?? '')"
    (input)="!nsNumber ? onChangeValue($any($event).target) : onInpt($event)" [disabled]="locked ? locked: disabled"
    class="{{inputClass}} {{((hasError && (currentControl?.touched || currentControl?.dirty)) || borderRequired)||(borderRequired2)?'border-danger':''}}"
    [style]="inputStyle" [required]="required" (focus)="getReqError();OnFocus.emit($event);"
    (blur)="nsBlur.emit($event);onTouched($event)" (keydown.arrowdown)="keyArrowDown.emit()"
    (keydown.arrowup)="keyArrowUp.emit()" (keydown.tab)="keyTab.emit()" (keydown.enter)="keyEnter.emit()" [rows]="rows"
    [cols]="cols" pInputTextarea></textarea>

  <div class="w-100" style="height: 15px;">
    <small class="text-danger fw-bold"
      *ngIf="(hasError && (currentControl?.touched || currentControl?.dirty)) || required ||required2">
      {{((hasError && (currentControl?.touched || currentControl?.dirty)) ||
      borderRequired)||(borderRequired2)?messageError:''}}
    </small>
  </div>

</div>
