:host ::ng-deep .p-dropdown-label {
  padding: 6.5px 12px 6.5px;
}

:host ::ng-deep .form-control {
  background-color: var(--vz-input-bg);
  color: var(--vz-body-color);
  border: 1px solid var(--vz-input-border);
}


[data-layout-mode=dark] :host ::ng-deep .p-dropdown-label {
  color: var(--vz-body-color);
}

[data-layout-mode=dark] :host ::ng-deep .p-dropdown .p-dropdown-panel {
  background-color: var(--vz-input-bg);
  color: var(--vz-body-color);
}

.twoword {
  white-space: nowrap;
  /* Evita que el texto se divida en varias líneas */
  overflow: hidden;
  /* Oculta el contenido que no cabe en el contenedor */
  //text-overflow: ellipsis;
  /* Agrega puntos suspensivos (...) al texto cortado */
  width: 1em;
  /* Establece el ancho máximo para mostrar solo dos letras */
}

.twoword1 {
  white-space: nowrap;
  /* Evita que el texto se divida en varias líneas */
  overflow: hidden;
  /* Oculta el contenido que no cabe en el contenedor */
  //text-overflow: ellipsis;
  /* Agrega puntos suspensivos (...) al texto cortado */
  width: 1em;
  /* Establece el ancho máximo para mostrar solo dos letras */
}

:host ::ng-deep .w-4rem {
  width: 2rem !important;
}

:host ::ng-deep .h-4rem {
  height: 2rem !important;
}
