<app-tools (OnClickNew)="changeMode($event)" (OnClickSave)="onSubmit()" [ViewMode]="modeType"
  (OnClickBack)="changeMode($event)">
</app-tools>

<ng-container *ngIf="isViewMode || isDeleteMode">
  <app-table [dataSourse]="data" (OnEdit)="getForm($event);" (OnDelete)="delForm($event)"
    [path]="fullPath+'?start=0&length=10&search=&order=asc'" [tableName]="'Usuario'" [headers]="headers"
    [btnEdit]="true" [crud]="false" [btnDelete]="true" [refresh]="auto">
  </app-table>
</ng-container>

<ng-container *ngIf="isCreateMode || isEditMode">
  <div class="card-body">
    <form [formGroup]="form">
      <div class="row gy-4">
        <!--end col-->
        <div class="col-xxl-3 col-md-6">
          <div>
            <app-input inputClass="form-control" formControlName="nombres" label="NOMBRES" type="text" [formValid]="ok">
            </app-input>
          </div>
        </div>
        <!--end col-->
        <div class="col-xxl-3 col-md-6">
          <div>
            <app-input inputClass="form-control" formControlName="apellidos" label="APELLIDO PARTERNO" type="text"
              [formValid]="ok"></app-input>
          </div>
        </div>
        <!--end col-->
        <div class="col-xxl-3 col-md-6">
          <div>
            <app-input inputClass="form-control" formControlName="email" label="CORREO" type="text" [formValid]="ok">
            </app-input>
          </div>
        </div>
        <!--end col-->
        <div class="col-xxl-3 col-md-6">
          <div>
            <app-input inputClass="form-control" formControlName="username" label="USUARIO" type="text"
              [formValid]="ok"></app-input>
          </div>
        </div>
      </div>
      <div class="row gy-4">
        <div class="col-xxl-3 col-md-12">
          <div>
            <app-input inputClass="form-control" formControlName="password" label="CONTRASEÑA" type="text"
              [formValid]="ok"></app-input>
          </div>
        </div>
        <div class="col-xxl-3 col-md-12">
          <div>
            <app-input inputClass="form-control" formControlName="rep_password" label="CONTRASEÑA" type="text"
              [formValid]="ok"></app-input>
          </div>
        </div>
        <div class="col-xxl-3 col-md-6">
          <div>
            <app-input inputClass="form-control" formControlName="telefono" label="NRO CELULAR" type="text"
              [formValid]="ok"></app-input>
          </div>
        </div>
        <div class="col-xxl-3 col-md-12">
          <div>
            <app-input inputClass="form-control" formControlName="photo" label="Foto Perfil" type="text"
              [formValid]="ok"></app-input>
          </div>
        </div>
        <div class="col-xxl-3 col-md-6">
          <div class="d-flex flex-column">
            <label for="" class="block text-capitalize">HABILITAR</label>
            <p-inputSwitch formControlName="habilitado"></p-inputSwitch>
          </div>
        </div>
      </div>
    </form>
  </div>

</ng-container>