<!-- Vertical Overlay-->
<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="vertical-overlay"></div>

<!-- container -->
<div class="main-content">
  <div class="page-content">

    <div class="container-fluid">
      <div class="row" *ngIf="url[1]">
        <div class="col-12" *ngIf="viewMode==='VIEW'">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between pt-1 pb-3">
            <div class="mb-sm-0"></div>
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a [routerLink]="'/'" class="">Home</a></li>
                <li class="breadcrumb-item active">
                  <a href="javascript: void(0);" *ngIf="url.length===2"
                    class="text-capitalize text-primary">{{url[1]}}</a>
                  <a [routerLink]="url[1]" *ngIf="url.length>2" class="text-capitalize text-primary">{{url[1]}}</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="" *ngIf="updateComponent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>