@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('//fonts.googleapis.com/earlyaccess/notosanstc.css');

:root {
  --tb-contraste-menu: rgb(236, 236, 236);
  // opciones fondo y hover
  --tb-bg-child: rgba(255, 255, 255, 0.979);
  --tb-bg-child-active: rgb(236, 236, 236);
  // // main button and childs
  --btn-main: #7f94f3;
  --btn-main-text: #ffffff;
}

.mat-white {
  filter: invert(0) sepia(5%) saturate(4590%) hue-rotate(358deg) brightness(101%) contrast(112%);
}

.red {
  color: hsl(0, 0%, 100%);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.p-disabled,
.p-component:disabled {
  opacity: 0.8;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.shadow-class {
  box-shadow: 0 0 7px rgb(127, 148, 243);
}

[data-layout-mode=dark] .p-sidebar {
  background: #4e555c !important;
  box-shadow: 0 0 7px rgb(165, 180, 245);
  color: white;
}

[data-layout-mode=dark] .p-dialog .p-dialog-content {
  background: #4e555c !important;
  box-shadow: 0 0 7px rgb(165, 180, 245);
  color: white;
}

[data-layout-mode=dark] .p-dialog .p-dialog-header {
  background: #4e555c !important;
  color: white;
  box-shadow: 0 0 7px rgb(165, 180, 245);
}

[data-layout-mode=dark] .p-dialog .p-dialog-header .p-dialog-header-icon {
  color: #EF4444
}

[data-layout-mode=dark] .p-dialog .p-dialog-footer {
  background: #4e555c !important;
  color: white;
  /* box-shadow: 5px 0 10px rgb(165, 180, 245); //* right
  box-shadow: -5px 0 10px rgb(165, 180, 245); //* left */
  box-shadow: 0 1px 7px rgb(165, 180, 245); //* bott
  padding: .5rem 1.5rem .5rem 1.5rem;
}

/* [data-layout-mode=dark] .p-dropdown-panel {
  background: #4e555c !important;
  color: white;
  box-shadow: 0 0 7px rgb(165, 180, 245);
} */
.p-dropdown .p-dropdown-trigger {
  width: 1.5rem;
}

.p-dropdown .p-dropdown-clear-icon {
  color: #EF4444;
  right: 1.5rem;
}

.p-dropdown {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}

.p-dropdown-panel .p-dropdown-items {
  padding: 0;
}

.p-toast .p-toast-message.p-toast-message-warning {
  background: #fff2e2;
  border: solid #cc8925;
  border-width: 0 0 0 6px;
  color: #cc8925;
}

.p-toast .p-toast-message.p-toast-message-warning .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warning .p-toast-icon-close {
  color: #cc8925;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0.45rem 1.25rem !important;
}

.p-inputtext {
  padding: 0.4rem 0.4rem 0.4rem 0.5rem !important;
}

.p-button.p-button-rounded {
  border-radius: 2rem;
}

p-autocomplete.p-autocomplete-clearable .p-autocomplete-clear-icon {
  color: #EF4444;
}

.p-dropdown-panel .p-dropdown-header {
  padding: 0.35rem .5rem;
}

.p-divider .p-divider-content {
  background-color: transparent;
}

.p-divider.p-divider-horizontal {
  margin: 0;
}

.p-tag {
  font-size: 1rem;
}

@media only screen and (max-width: 780px) {

  .p-dialog-top .p-dialog,
  .p-dialog-bottom .p-dialog,
  .p-dialog-left .p-dialog,
  .p-dialog-right .p-dialog,
  .p-dialog-top-left .p-dialog,
  .p-dialog-top-right .p-dialog,
  .p-dialog-bottom-left .p-dialog,
  .p-dialog-bottom-right .p-dialog {
    margin: 0 !important;
  }
}
