<label *ngIf="!(label===false || label==='false')" for="miImput" class="block text-capitalize {{labelClass}}">
  {{label??'label text'}}
  <i *ngIf="(initRequired || required)" class="text-danger">*</i>
</label>
<div class="">
  <label for="inputFile" style="cursor: pointer" class="d-flex w-100 border p-1 pl-2">
    <i class="pi pi-upload text-success" style="font-size: 1.5rem; margin-right: 5px;"></i>
    <p class="font-poppins font-semibold text-sm mb-1 mt-1">Selec. archivo</p>
  </label>
  <input (change)="onFileChange($event)" [disabled]="(dataFile?.nombre)" type="file" name="inputFile" id="inputFile"
    hidden [multiple]="multiple" accept="{{accept}}" />

  <div class="d-flex mb-3" *ngIf="dataFile?.nombre;">
    <span class="ml-3" style="margin-right: 5px;">{{dataFile?.nombre}}</span>
    <i [attr.aria-hidden]="true" (click)="deleteFile()" class="pi pi-trash text-danger"
      style="font-size: 1.5rem;cursor: pointer;"></i>
  </div>
</div>


<!--   (click)="deleteFile()" -->
