:host ::ng-deep .p-dropdown-label {
  padding: 6.5px 12px 6.5px;
}

:host ::ng-deep .form-control {
  background-color: var(--vz-input-bg);
  color: var(--vz-body-color);
  border: 1px solid var(--vz-input-border);
}

[data-layout-mode=dark] :host ::ng-deep .p-dropdown-label {
  color: var(--vz-body-color);
}

[data-layout-mode=dark] :host ::ng-deep .p-dropdown .p-dropdown-panel {
  background-color: var(--vz-input-bg);
  color: var(--vz-body-color);
}
